# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
node_modules

# Distribution directories
dist

# Mac files
.DS_Store

# Misc
.vscode
package-lock.json
